<div id="debriefing" align=justify>
	<p align=center><b>Debriefing</b></p>
	<p>
		Thank you for helping in developing the Brain Explorer!
	</p>
	<p>
		This study was about decision making. Some decisions are purely made from habit, whereas other decisions are the result of more deliberate planning. This task was designed to distinguish between these two types of decision making.
	</p>
	<p>
		Using mathematical models, we can infer to what degree you used planning and habit during this task. We are trying to test whether planning makes it more likely to get reward in this task.
	</p>

	<br></br>
	
	<p>To find more about the Brain Explorer project please click <a href="https://BrainExplorer.net" target="_blank" rel="noopener noreferrer">here</a></p>
    <br></br>
    <p>To get information regarding how to access mental health services please click <a href="https://www.nhs.uk/using-the-nhs/nhs-services/mental-health-services/how-to-access-mental-health-services" target="_blank" rel="noopener noreferrer">here</a></p> 
    
    <br></br>

	<div align=center>
		<button type="button" id="continue">Continue</button>
	</div>
</div>

